.t3-icon-extensions-mdi_navigation {
    background-image: url(../../typo3conf/ext/mdi/Resources/Public/Sprites/navigation/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.t3-icon-mdi_navigation-ic_apps_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.t3-icon-mdi_navigation-ic_arrow_back_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px 0;
}

.t3-icon-mdi_navigation-ic_arrow_downward_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px 0;
}

.t3-icon-mdi_navigation-ic_arrow_drop_down_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -72px 0;
}

.t3-icon-mdi_navigation-ic_arrow_drop_down_circle_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -96px 0;
}

.t3-icon-mdi_navigation-ic_arrow_drop_up_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 -24px;
}

.t3-icon-mdi_navigation-ic_arrow_forward_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px -24px;
}

.t3-icon-mdi_navigation-ic_arrow_upward_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px -24px;
}

.t3-icon-mdi_navigation-ic_cancel_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -72px -24px;
}

.t3-icon-mdi_navigation-ic_check_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -96px -24px;
}

.t3-icon-mdi_navigation-ic_chevron_left_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 -48px;
}

.t3-icon-mdi_navigation-ic_chevron_right_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px -48px;
}

.t3-icon-mdi_navigation-ic_close_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px -48px;
}

.t3-icon-mdi_navigation-ic_expand_less_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -72px -48px;
}

.t3-icon-mdi_navigation-ic_expand_more_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -96px -48px;
}

.t3-icon-mdi_navigation-ic_fullscreen_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 -72px;
}

.t3-icon-mdi_navigation-ic_fullscreen_exit_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px -72px;
}

.t3-icon-mdi_navigation-ic_menu_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px -72px;
}

.t3-icon-mdi_navigation-ic_more_horiz_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -72px -72px;
}

.t3-icon-mdi_navigation-ic_more_vert_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -96px -72px;
}

.t3-icon-mdi_navigation-ic_refresh_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 -96px;
}

.t3-icon-mdi_navigation-ic_subdirectory_arrow_left_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px -96px;
}

.t3-icon-mdi_navigation-ic_subdirectory_arrow_right_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px -96px;
}

.t3-icon-mdi_navigation-ic_unfold_less_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -72px -96px;
}

.t3-icon-mdi_navigation-ic_unfold_more_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -96px -96px;
}
