.t3-icon-extensions-mdi_toggle {
    background-image: url(../../typo3conf/ext/mdi/Resources/Public/Sprites/toggle/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.t3-icon-mdi_toggle-ic_check_box_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.t3-icon-mdi_toggle-ic_check_box_outline_blank_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px 0;
}

.t3-icon-mdi_toggle-ic_indeterminate_check_box_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 -24px;
}

.t3-icon-mdi_toggle-ic_radio_button_checked_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px -24px;
}

.t3-icon-mdi_toggle-ic_radio_button_unchecked_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px 0;
}

.t3-icon-mdi_toggle-ic_star_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -48px -24px;
}

.t3-icon-mdi_toggle-ic_star_border_black_24dp {
    width: 24px;
    height: 24px;
    background-position: 0 -48px;
}

.t3-icon-mdi_toggle-ic_star_half_black_24dp {
    width: 24px;
    height: 24px;
    background-position: -24px -48px;
}
